{% extends "base.html" %}

{% block map %}
                                    <img id="blank_grid" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="blank_grid" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="grid_A" src="/static/alphabets/A.png" style="width:25px;height:25px;float:left;">
                                    <img id="blank_grid" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="grid_B" src="/static/alphabets/B.png" style="width:25px;height:25px;float:left;">
                                    <img id="grid_C" src="/static/alphabets/C.png" style="width:25px;height:25px;float:left;">
                                    <img id="blank_grid" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="grid_D" src="/static/alphabets/D.png" style="width:25px;height:25px;float:left;">
                                    <img id="grid_E" src="/static/alphabets/E.png" style="width:25px;height:25px;float:left;">
                                    <img id="blank_grid" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="grid_F" src="/static/alphabets/F.png" style="width:25px;height:25px;float:left;">
                                    <img id="grid_G" src="/static/alphabets/G.png" style="width:25px;height:25px;float:left;">
                                    <img id="blank_grid" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="grid_H" src="/static/alphabets/H.png" style="width:25px;height:25px;float:left;">
                                    <img id="grid_I" src="/static/alphabets/I.png" style="width:25px;height:25px;float:left;">
                                    <img id="blank_grid" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="grid_J" src="/static/alphabets/J.png" style="width:25px;height:25px;float:left;">
                                    <img id="grid_K" src="/static/alphabets/K.png" style="width:25px;height:25px;float:left;">
                                    <img id="blank_grid" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="grid_L" src="/static/alphabets/L.png" style="width:25px;height:25px;float:left;">
                                    <img id="blank_grid" src="/static/image1.png" style="width:25px;height:25px;float:left;">

                                    
                                    <img id="0_0" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_13" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="A13" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_13" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="B13" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="C13" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_13" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="D13" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="E13" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_13" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="F13" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="G13" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_13" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="H13" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="I13" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_13" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="J13" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="K13" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_13" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="L13" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="grid_13" src="/static/numbers/13.png" style="width:25px;height:25px;float:left;">


                                    <img id="0_12" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_12" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="A12" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_12" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="B12" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="C12" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_12" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="D12" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="E12" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_12" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="F12" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="G12" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_12" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="H12" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="I12" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_12" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="J12" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="K12" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_12" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="L12" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="grid_12" src="/static/numbers/12.png" style="width:25px;height:25px;float:left;">


                                    <img id="0_11" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_11" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="A11" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_11" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="B11" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="C11" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_11" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="D11" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="E11" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_11" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="F11" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="G11" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_11" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="H11" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="I11" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_11" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="J11" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="K11" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_11" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="L11" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="grid_11" src="/static/numbers/11.png" style="width:25px;height:25px;float:left;">


                                    <img id="0_10" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_10" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="A10" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_10" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="B10" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="C10" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_10" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="D10" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="E10" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_10" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="F10" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="G10" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_10" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="H10" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="I10" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_10" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="J10" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="K10" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_10" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="L10" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="grid_10" src="/static/numbers/10.png" style="width:25px;height:25px;float:left;">


                                    <img id="0_9" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_9" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="A9" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_9" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="B9" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="C9" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_9" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="D9" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="E9" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_9" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="F9" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="G9" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_9" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="H9" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="I9" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_9" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="J9" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="K9" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_9" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="L9" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="grid_9" src="/static/numbers/9.png" style="width:25px;height:25px;float:left;">


                                    <img id="0_8" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_8" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="A8" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_8" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="B8" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="C8" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_8" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="D8" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="E8" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_8" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="F8" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="G8" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_8" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="H8" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="I8" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_8" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="J8" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="K8" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_8" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="L8" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="grid_8" src="/static/numbers/8.png" style="width:25px;height:25px;float:left;">


                                    <img id="0_7" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_7" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="A7" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_7" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="B7" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="C7" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_7" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="D7" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="E7" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_7" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="F7" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="G7" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_7" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="H7" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="I7" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_7" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="J7" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="K7" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_7" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="L7" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="grid_7" src="/static/numbers/7.png" style="width:25px;height:25px;float:left;">


                                    <img id="0_6" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_6" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="A6" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_6" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="B6" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="C6" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_6" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="D6" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="E6" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_6" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="F6" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="G6" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_6" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="H6" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="I6" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_6" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="J6" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="K6" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_6" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="L6" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="grid_6" src="/static/numbers/6.png" style="width:25px;height:25px;float:left;">


                                    <img id="0_5" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_5" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="A5" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_5" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="B5" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="C5" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_5" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="D5" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="E5" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_5" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="F5" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="G5" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_5" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="H5" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="I5" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_5" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="J5" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="K5" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_5" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="L5" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="grid_5" src="/static/numbers/5.png" style="width:25px;height:25px;float:left;">


                                    <img id="0_4" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_4" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="A4" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_4" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="B4" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="C4" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_4" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="D4" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="E4" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_4" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="F4" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="G4" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_4" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="H4" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="I4" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_4" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="J4" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="K4" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_4" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="L4" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="grid_4" src="/static/numbers/4.png" style="width:25px;height:25px;float:left;">


                                    <img id="0_3" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_3" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="A3" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_3" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="B3" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="C3" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_3" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="D3" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="E3" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_3" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="F3" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="G3" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_3" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="H3" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="I3" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_3" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="J3" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="K3" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_3" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="L3" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="grid_3" src="/static/numbers/3.png" style="width:25px;height:25px;float:left;">


                                    <img id="0_2" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_2" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="A2" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_2" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="B2" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="C2" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_2" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="D2" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="E2" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_2" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="F2" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="G2" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_2" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="H2" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="I2" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_2" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="J2" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="K2" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_2" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="L2" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="grid_2" src="/static/numbers/2.png" style="width:25px;height:25px;float:left;">


                                    <img id="0_1" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_1" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="A1" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_1" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="B1" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="C1" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_1" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="D1" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="E_1" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_1" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="F1" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="G1" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_1" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="H1" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="I1" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_1" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="J1" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="K1" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_1" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="L1" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="grid_1" src="/static/numbers/1.png" style="width:25px;height:25px;float:left;">


                                    <img id="3_13" src="/static/Depot.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_0" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="A0" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_0" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="B0" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="C0" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_0" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="D0" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="E0" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_0" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="F0" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="G0" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_0" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="H0" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="I0" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_0" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="J0" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="K0" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="0_0" src="/static/image1.png" style="width:25px;height:25px;float:left;">
                                    <img id="L0" src="/static/image2.png" style="width:25px;height:25px;float:left;">
                                    <img id="grid_0" src="/static/numbers/0.png" style="width:25px;height:25px;float:left;">
{% endblock %}

{% block route %}
                                    <h5></h5>
{% endblock %}